<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.catapultlearning.walkthrough.model.WebUsers">
    <resultMap type="WebUsers" id="WebUsersMap">
        <result column="email" property="email"/>
        <result column="account_id" property="accountId"/>
        <result column="pw" property="password"/>
        <result column="user_id" property="userId"/>
        <result column="lastname" property="lastName"/>
        <result column="firstname" property="firstName"/>
        <result column="web_registration_date" property="webRegistrationDate"/>
        <result column="has_account" property="hasAccount"/>
        <result column="last_web_login" property="lastWebLogin"/>
    </resultMap>
   
   <insert id="create" parameterType="WebUsers">
        <![CDATA[
        	insert into 
        		vw_web_users(email,pw,web_registration_date)
        	values
        		(#{email},#{password},#{webRegistrationDate})
        ]]>
    </insert>
     
     
   <update id="update" parameterType="WebUsers">
        <![CDATA[
        	UPDATE vw_web_users
    		SET pw = #{password},
    			email = #{email}
        ]]>
    </update>
    
   <select id="getWebAccountByEmail" parameterType="String" resultMap="WebUsersMap">
        <![CDATA[
        	select * from vw_web_users where email = #{email}
        ]]>
    </select>
    
    <select id="getWebAccountByUserId" parameterType="Long" resultMap="WebUsersMap">
        <![CDATA[
        	select * from vw_web_users where user_id = #{userId}
        ]]>
    </select>

    <!--  Get user from vw_web_users view by user name and password for validate username and password is valid-->
    <select id="getWebUserByUserEmailAndPassWord" parameterType="map" resultMap="WebUsersMap">
        <![CDATA[			
			select vw_wu.*
			from vw_web_users vw_wu
				where 1=1
				and vw_wu.email 		= #{email}
				and vw_wu.pw 			= #{passWord}
				and vw_wu.has_account 	= 'T'
				LIMIT 1 
        ]]>
    </select>
    
</mapper>